.images-div {
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
}

.button {
    flex-grow: 1;
}

.flip {
    transform: scaleX(-1);
}

#results-div{
    display: inline-block;
    vertical-align:top;
}

.victory {
    color: white;
    background-color: green;
}

.defeat {
    color: white;
    background-color: red;
}

.draw {
    color: purple;
    background-color: yellow;
}